.work {
  background-image: radial-gradient(
      rgba(93, 93, 95, 0.4),
      #1D1C1C
    ),
    url(../img/mobile/bg2.png);
  background-size: 861px 516px;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0 auto;
}
.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
  color: var(--accent-color2);
}
.work__content {
  display: flex;
  gap: 15px;
}
.work-list {
  width: 358px;
  color: var(--white-color);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-list__item {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 357px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 26px;
  }
  .work {
    background-size: 1000px 516px;
  }

  .work-list {
    width: 658px;
    font-size: 15px;
  }
  .work-list__item {
    width: 657px;
  }
}

@media screen and (min-width: 1000px) {
  .work {
    background-size: 1000px 516px;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 28px;
  }
  .work {
    background-size: 1200px 516px;
    background-position: center;
  }

  .work-list {
    width: 1158px;
    font-size: 16px;
  }
  .work-list__item {
    width: 1157px;
  }
}
@media screen and (min-width: 1300px) {
  .work {
    background-size: 1300px 516px;
  }
}
@media screen and (min-width: 1400px) {
  .work {
    background-size: 1400px 516px;
  }
}
