.footer {
  padding-bottom: 30px;
}

.footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-color2);
  margin-bottom: 30px;
}

.footer__list {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.link-change-color {
  fill: var(--white-color);

  height: 20px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover .link-change-color,
.social-list-item:focus .link-change-color {
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 28px;
  }
}

