.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color);
}

@media screen and (min-width: 280px) {
  .page-footer {
    display: block;
    width: 100%;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 165px;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    display: flex;
    column-gap: inherit;
    justify-content: space-between;
    align-items: baseline;
  }
}

.logo-footer {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  // margin-right: 72px;
}

@media screen and (min-width: 280px) {
  .logo-footer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    margin-bottom: 20px;
    justify-content: left;
  }
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

@media screen and (min-width: 280px) {
  .address {
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: flex-start;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.address-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
}

.address-mail {
  font-size: 14px;
  line-height: 24px;
  color: var(--addres-mail-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.community-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 280px) {
  .community-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .community-item {
    row-gap: 20px;
  }
}

@media screen and (min-width: 280px) {
  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.community-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  // margin-bottom: 20px; для 1200
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .community-title {
    margin-right: auto;
  }
}

.footer-list {
  display: flex;

  column-gap: 10px;
  // margin-top: 16px;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.link-change-color {
  fill: var(--white-color);

  height: 20px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover .link-change-color,
.social-list-item:focus .link-change-color {
  fill: var(--white-color);
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

@media screen and (min-width: 280px) {
  .subscribe-area {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.modal-form-input-subscribe {
  padding-left: 16px;
  margin-right: 12px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
}

@media screen and (min-width: 280px) {
  .modal-form-input-subscribe {
    display: block;
    width: 290px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-input-subscribe {
    display: block;
    width: 358px;
  }
}

.modal-form-input-subscribe::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Roboto";
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

// .modal-form-subscribe-btn {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   min-width: 200px;
//   height: 50px;
//   padding: 10px 28px;
//   background: var(--accent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
// }

// @media screen and (min-width: 768px) {
//   .modal-form-subscribe-btn {
//     width: 200px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .modal-form-subscribe-btn {
//     width: 200px;
//   }
// }

// .button-text {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 30px;
//   letter-spacing: 0.06em;
//   margin-right: 10px;
//   color: var(--white-color);
// }

.footer-item {
  display: flex;
}

// .subscribe-image-btn {
//   display: flex;
//   margin-top: auto;
//   margin-bottom: auto;
// }

// .modal-form-subscribe-icon {
//   display: flex;
//   padding-top: 4px;
// }
