.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background: #211f1f;
  width: 100%;
  z-index: 11;
}

// @media screen and (min-width: 768px) {
//   .page-header {
//     padding-top: 21px;
//     padding-bottom: 21px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .page-header {
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }
// }

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// @media screen and (min-width: 768px) {
//   .page-header__container {
//     align-items: center;
//     justify-content: center;
//   }
// }

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
  display: none;
}

.menu__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.slogan {
  color: var(--accent-color);
}

.slogan-logo {
  color: var(--slogan-logo-color);
}

.slogan-text {
  color: var(--white-color);
}

// .menu-list {
//   display: none;
// }

// .menu-list {
// @media (min-width: 768px) {
//   .menu-list {
//     display: flex;
//     align-items: center;
//     column-gap: 50px;
//   }
// }

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: var(--accent-color2);
}

// .mobile-menu-btn {
//   @media (min-width: 768px) {
//     display: none;
//   }
// }
.menu-list {
  display: flex;
  gap: 15px;
}
.menu-item {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  .list-item:focus {
    color: var(--accent-color);
  }
}

.menu-item__current {
  display: block;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;

  &::after {
    position: absolute;
    display: block;
    content: "";
    background: var(--accent-color);
    height: 2px;
    left: 0;
    width: 100%;
    margin-top: 6px;
  }
}

.nav {
  display: none;
}

// @media (min-width: 768px) {
//   .nav {
//     display: flex;
//     column-gap: 50px;
//     margin-left: auto;
//     justify-content: center;

//     flex-direction: column;
//     row-gap: 10px;

//     &:hover,
//     &:focus {
//       fill: var(--accent-color);
//     }
//   }
// }

// @media (min-width: 1200px) {
//   .nav {
//     flex-direction: row;
//     column-gap: 50px;
//     margin-left: auto;
//     justify-content: center;
//   }
// }

.nav__link {
  display: flex;
  align-items: center;
}

// @media (min-width: 768px) {
//   .nav__link {
//     align-items: center;
//   }
// }

// @media (min-width: 1200px) {
//   .nav__link {
//     justify-content: center;
//   }
// }

.nav__items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .contact-list,
  &:focus .contact-list {
    background-color: var(--white-color);
    fill: var(--accent-color);
  }
}

.contact-list {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  fill: var(--second-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.nav-info {
  display: flex;
  align-items: center;
}
.color {
  color: #211f1f;
}
.custom-select {
  width: 53px;
  position: relative;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 55px;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 5px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  top: 45%;
  left: 70%;
}