@media screen and (min-width: 280px) {
  .hero {
    padding-top: 3px;
    padding-bottom: 201px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/bgs.png);
    background-size: 610px 311px;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0 auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/mobile/bgs.png");
  }
}

// @media screen and (min-width: 768px) {
//   .hero {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../img/tablet/main-bg.png");
//     background-size: 768px 400px;
//   }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//   (min-resolution: 192dpi) and (min-width: 768px),
//   (min-resolution: 2dppx) and (min-width: 768px) {
//   .hero {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../img/tablet/Header-tabletimg@2x.jpg");
//   }
// }

// @media screen and (min-width: 1200px) {
//   .hero {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../img/Img\(2\).jpg");
//     background-size: 1600px 600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//   }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//   (min-resolution: 192dpi) and (min-width: 1200px),
//   (min-resolution: 2dppx) and (min-width: 1200px) {
//   .hero {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../img/desctop/Img@2x.jpg");
//   }
// }

.hero__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.42;
  padding-left: 0px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color2);
}
.hero__title2 {
  font-weight: 700;
  font-size: 14px;
  padding-left: 0px;
  padding-top: 100px;
  line-height: 1.42;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.hero__title3 {
  font-weight: 700;
  font-size: 14px;
  padding-left: 0px;
  padding-top: 4px;
  line-height: 1.42;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-bottom: 40px;
}

// @media screen and (min-width: 1200px) {
//   .hero__title {
//     font-size: 44px;
//     line-height: 1.37;
//   }
// }

// .hero__button {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   font-family: inherit;
//   background: var(--accent-color2);
//   color: var(--white-color);
//   cursor: pointer;
//   padding: 5px 10px;
//   display: block;
//   min-width: 200px;
//   margin: 0 auto;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:active {
//     background: var(--accent-color);
//   }
// }
.modal-form-subscribe-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 165px;
  height: 35px;
  padding: 2px 28px;
  background: var(--accent-color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    background: var(--accent-color);
  }
}
.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-right: 10px;
  color: var(--white-color);
}
.subscribe-image-btn {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
// @media screen and (min-width: 1200px) {
//   .hero__button {
//     min-width: 216px;
//   }
// }
