:root{
    --background-color: #1D1C1C;
    --second-text-color: #757575;
    --accent-color: #E4AA28;
    --accent-color2: #d1a300;
    --white-color: #FFFFFF;
    --background-page-color: #F5F5F5;
    --black-color: #000000;
  }