:root{
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #a4742c;
    --background-color: #2F303A;
    --white-color: #FFFFFF;
    --background-page-color: #F5F5F5;
    --addres-mail-color: rgba(255, 255, 255, 0.6);
    --slogan-logo-color: #000000;
    --backgroung-color-button: #F5F4FA;
    --primaru-link-color: #AFB1B8;
  }